<div class="header" *ngIf="router.isRouteActive(router.generate(['/Home']))">
	<div class="jumbotron">
		<div class="top-nav container">
			<div class="row col-xs-12">
				<div class="logo" [routerLink]="['Home']">
					<img src="/app/assets/images/logo-white.png"/>
				</div>
				<div class="nav-links">
					<a [routerLink]="['CreateEvent']"><span class="nav-link">CREATE A TEAM</span></a>
					<a *ngIf="!userService.isAuthorized()" (click)="userService.showLoginModal=true;showLoginSection=true" style="cursor: pointer;"><span class="nav-link">LOGIN</span></a>
					<a *ngIf="!userService.isAuthorized()" (click)="userService.showLoginModal=true;showLoginSection=false" style="cursor: pointer;"><span class="nav-link">SIGNUP</span></a>
					<a *ngIf="userService.isAuthorized()" (click)="userService.logout()" style="cursor: pointer;"><span class="nav-link">LOGOUT</span></a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<span class="main-title col-xs-12">Create your own Teamup.</span>
			</div>
			<div class="row">
				<span class="sub-title col-xs-6">Teamup helps you find like-minded people you share interests with, make plans and have fun in a team!</span>
			</div>
			<div class="row">
				<div class="col-xs-3 signin-spacer">
					<span class="signin-btn" *ngIf="!userService.isAuthorized()" (click)="userService.showLoginModal=true;showLoginSection=true" style="cursor: pointer;">SIGN IN</span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="header-small" *ngIf="!router.isRouteActive(router.generate(['/Home']))">
	<div class="jumbotron">
		<div class="top-nav container">
			<div class="row col-xs-12">
				<div class="logo" [routerLink]="['Home']">
					<img src="/app/assets/images/logo-white.png"/>
				</div>
				<div class="nav-links">
					<a [routerLink]="['CreateEvent']"><span class="nav-link">CREATE A TEAM</span></a>
					<a (click)="userService.showLoginModal=true;showLoginSection=true" *ngIf="!userService.isAuthorized()" style="cursor: pointer;"><span class="nav-link">LOGIN</span></a>
					<a (click)="userService.showLoginModal=true;showLoginSection=false" *ngIf="!userService.isAuthorized()" style="cursor: pointer;"><span class="nav-link">SIGNUP</span></a>
					<a (click)="userService.logout()" *ngIf="userService.isAuthorized()" style="cursor: pointer;"><span class="nav-link">LOGOUT</span></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="loginModal" class="popupModal" *ngIf="userService.showLoginModal">
	<div class="modal-container">
		<a (click)="userService.showLoginModal=false" title="Close" class="close">X</a>
		<div class="modal-cover">
		</div><div class="modal-data">
			<div class="login-options">
				<span [ngClass]="{'active': showLoginSection}" (click)="showLoginSection=true">LOGIN</span><span [ngClass]="{'active': !showLoginSection}"(click)="showLoginSection=false">SIGN UP</span>
			</div>
			<div class="login-section" *ngIf="showLoginSection">
				<div class="social-buttons">
					<span class="facebook" (click)="userService.facebookLogin()"><img src="app/assets/images/fb-icon.png" /> Facebook</span>
				</div>
				<div class="seperator">
					<span class="or-text">Or</span>
				</div>
				<div class="modal-form"> 
					<label class="text-muted">Email</label>
					<div class="input-group">
					  <input type="text" class="form-control" [(ngModel)]="login.email" >
					</div>
					<label class="text-muted">Password</label>
					<div class="input-group">
					  <input type="password" class="form-control" [(ngModel)]="login.password" (keyup.enter)="emailLogin()">
					</div>
					<div class="signin-spacer">
						<span class="signin-btn" (click)="emailLogin()">LOGIN</span>
					</div>
				</div>
			</div>
			<div class="signup-section" *ngIf="!showLoginSection">
				<div class="social-buttons">
					<span class="facebook" (click)="userService.facebookLogin()"><img src="app/assets/images/fb-icon.png" /> Facebook</span>
				</div>
				<div class="seperator">
					<span class="or-text">Or</span>
				</div>
				<div class="modal-form"> 
					<label class="text-muted">Name</label>
					<div class="input-group">
					  <input type="text" class="form-control" [(ngModel)]="signUp.name" >
					</div>
					<label class="text-muted">Email</label>
					<div class="input-group">
					  <input type="text" class="form-control" [(ngModel)]="signUp.email" >
					</div>
					<label class="text-muted">Password</label>
					<div class="input-group">
					  <input type="password" class="form-control" [(ngModel)]="signUp.password" (keyup.enter)="emailSignUp()">
					</div>
					<div class="signin-spacer">
						<span class="signin-btn" (click)="emailSignUp()">SIGN UP</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
