<div class="header">
	<div class="jumbotron">
		<div class="top-nav container">
			<div class="row col-xs-12">
				<div class="logo" [routerLink]="['Home']">
					<img src="/app/assets/images/logo-white.png"/>
				</div>
				<div class="nav-links">
					<a [routerLink]="['CreateEvent']"><span class="nav-link">CREATE A TEAM</span></a>
					<a href=""><span class="nav-link">LOGIN</span></a>
					<a href=""><span class="nav-link">SIGNUP</span></a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<span class="main-title col-xs-12">We help you team better.</span>
			</div>
			<div class="row">
				<span class="sub-title col-xs-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Done cac ex maximus,dui non, lacinia diam.</span>
			</div>
			<div class="row">
				<div class="col-xs-3 signin-spacer">
					<span class="signin-btn">SIGN IN</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div *ngIf="!userService.isAuthorized()">
<button (click)="userService.facebookLogin()">Fb Login</button>
	<form>
		First Name :<input type="text" [(ngModel)]="signUp.firstName" /><br>
		Last Name :<input type="text" [(ngModel)]="signUp.lastName" /><br>
		Email :<input type="text" [(ngModel)]="signUp.email" /><br>
		Password :<input type="text" [(ngModel)]="signUp.password" /><br>
		Confirm Password :<input type="text" [(ngModel)]="signUp.confirmPassword" /><br>
		<button (click)="emailSignUp()">Sign Up</button>
	</form>
	<form>
		Email :<input type="text" [(ngModel)]="login.email" /><br>
		Password :<input type="text" [(ngModel)]="login.password" /><br>
		<button (click)="emailLogin()">Login</button>
	</form>
</div>
<div *ngIf="userService.isAuthorized()">You are Logged In.</div>