$header-height: 308px;
$footer-height: 60px;

html,
body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 -60px;
}

.footer {
  height: 60px;
  line-height: 60px;
  background-color: #474646;

  .footer-link {
    color: #FFFFFF;
    margin-right: 65px;
    font-size: 10px;
  }
}

.signin-spacer {
  margin-top: 30px;
}

.signin-btn {
  background: #0CAFEF;
  border-radius: 3px;
  width: 40px;
  padding: 10px 26px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.signin-btn:hover {
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  background: rgba(12,175,239,0.6);
  cursor: pointer;
}

.popupModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;

  .modal-container {
    width: 572px;
    height: 380px;
    position: relative;
    margin: 10% auto;
    padding: 0;
    border-radius: 1px;
    background: #fff;

    .modal-cover {
      display: inline-block;
      width: 277px;
      height: 100%;
      vertical-align: top;
      background-image: url('/app/assets/images/modal-cover2.png');
    }

    .modal-data {
      width: 295px;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      background: #FFFFFF;

      .login-options {
        width: 100%;
        height: 45px;
        cursor: pointer;
        background-color: #F3F3F3;

        span {
          text-align: center;
          padding: 14px 0;
          display: inline-block;
          width: 50%;
          font-size: 10px;
          font-weight: 300;
          color: #999797;
          border-bottom: 3px solid #D4D4D4;
        }

        .active {
          border-bottom: 3px solid #0cafef;
        }
      }
    }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover {
        background: #00d9ff;
    }

    .social-buttons {

      margin-top: 5px;
      padding: 0 20px;

      span {
        width: 91px;
        height: 33px;
        line-height: 33px;
        font-size: 12px;
        margin: 14px 0;
        text-align: center;
        color: #FFFFFF;
        display: inline-block;
        font-weight: 200;
      }
      
      .facebook {
        background-color: #3B5998;
      }

      .google {
        background-color: #DD4D3C;
      }
    }

    .modal-form {
      padding: 0 20px;
      label {
        margin-top: 10px;
        font-size: 10px;
      }
      .input-group {
        width: 100%;
        input {
          background-color: #F9F9F9;
          border: 1px solid #ededed;
          padding: 0 5px;
          margin: 0;
          height: 25px;
        }
      }

      .signin-btn {
        width: 100%;
        text-align: center;
        font-size: 12px;
        display: inline-block;
      }
    }
  }
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('/app/assets/images/banner.jpg') no-repeat center center;
  background-position-x: 0;
  width: 100%;
  height: $header-height;
  z-index: -1;
  background-color: #898D92;
}

.jumbotron {
  height: $header-height;
  padding-top: 0 !important;
  color: white;
  background-color: transparent !important;

  .top-nav {
  	padding-top: 4px;
  	height: 62px;

  	.logo {
  		float: left;
  		height: 62px;
      cursor: pointer;

  		img {
  			height: 100%;
  		}
  	}

  	.nav-links {
  		float:right;
  		margin-top: 18px;
  		font-size: 12px;

  		a .nav-link {
  			color: #eee;
  			margin: 10px;
  			margin-left: 15px;
  			margin-right: 15px;
  			padding: 10px;
  			border: 1px solid transparent;
  		}

      a:hover { 
        text-decoration: none;
      }

  		a:hover .nav-link {
  			font-size: 12px;
  			color: #AACEFF;
  			border: 1px solid #0CAFEF;
        border-radius: 4px;
  			text-decoration: none;
  		}
  	}
  }

  .main-title {
    font-size: 28px;
    color: #FFFFFF;
    margin-top: 34px;
  }

  .sub-title {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 100;
    margin-top: 18px; 
  }

}


.home-container { 
  padding-top: 5px;
  height: 100%;
  margin-top: 50px;
}

.interest-search-container {
  border: 1px solid #aaa;
  padding: 20px 30px;
  padding-bottom: 60px;
  -webkit-box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.4);
  -moz-box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.4);
  box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.4);
  border-radius: 2px;
}

.search {
  .search-title {
    font-size: 22px;
    color: #888;
  }

  .search-box {
    margin-top: 18px;
    width: 600px;

    .input-group {
      width: 100%;
    }
  }

  .next-btn {
    width: 100px;
    text-align: center;
    margin-top: 20px;
    padding: 10px 20px;
    color: #0CAFEF;
    border: 1px solid #0CAFEF;
    cursor: pointer;
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease;
  }
  .next-btn:hover {
    color: #FFFFFF;
    background-color: #0CAFEF;
    border: 1px solid #0CAFEF;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
    box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease;
  }
}

.activity-container {
  padding-top: 5px;
  height: 100%;

  .activity-header {
    .activity-title {
      font-size: 18px;
      color: #cd3232;
    }
  }

  .activity-questions {
    margin-top: 20px;
    .question-block {
      margin-top: 20px;
      .input-group {
        margin-top: 10px;
      }
    }
    
  }

}

.steps-count {
  color: #cdcdcd;
  font-size: 10px;
  font-weight: 200;
  margin-top: 25px;
}