$header-height: 308px;
$footer-height: 60px;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
}

.page-wrap {
  padding: 0 0 -60px;
}

.footer {
  margin-top: 120px;
  height: 61px;
  line-height: 61px;
  background-color: #474646;

  .footer-link {
    color: #FFFFFF;
    margin-right: 65px;
    font-size: 10px;
  }
}

.signin-spacer {
  margin-top: 40px;
}

.signin-btn {
  background: #0CAFEF;
  border-radius: 3px;
  width: 40px;
  padding: 10px 26px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.signin-btn:hover {
  transition-property: all;
  transition-duration: .6s;
  transition-timing-function: ease;
  background: rgba(12,175,239,0.6);
  cursor: pointer;
}

.popupModal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;

  .modal-container {
    width: 572px;
    height: 380px;
    position: relative;
    margin: 10% auto;
    padding: 0;
    border-radius: 1px;
    background: #fff;

    .modal-cover {
      display: inline-block;
      width: 277px;
      height: 100%;
      vertical-align: top;
      background-image: url('/app/assets/images/modal-cover2.png');
    }

    .modal-data {
      width: 295px;
      height: 100%;
      display: inline-block;
      vertical-align: top;
      background: #FFFFFF;

      .login-options {
        width: 100%;
        height: 45px;
        cursor: pointer;
        background-color: #F3F3F3;

        span {
          text-align: center;
          padding: 14px 0;
          display: inline-block;
          width: 50%;
          font-size: 10px;
          font-weight: 300;
          color: #999797;
          border-bottom: 3px solid #D4D4D4;
        }

        .active {
          border-bottom: 3px solid #0cafef;
        }
      }
    }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover {
        background: #00d9ff;
    }

    .social-buttons {

      margin-top: 5px;
      padding: 0 20px;

      span {
        cursor: pointer;
        width: 100%;
        height: 33px;
        line-height: 33px;
        font-size: 12px;
        margin: 14px 0;
        text-align: center;
        color: #FFFFFF;
        display: inline-block;
        font-weight: 200;
      }
      
      .facebook {
        background-color: #3B5998;
        position: relative;

        img {
          height: 15px;
          left: 13px;
          top: 9px;
          position: absolute;
        }
      }
    }

    .seperator {
      position: relative;
      margin: 4px 0;
      width: 100%;
      border-bottom: 1px solid #ddd;

      .or-text {
        font-weight: 100;
        font-size: 10px;
        color: #868686;
        position: absolute;
        top: -6px;
        margin-left: -20px;
        background-color: #ffffff;
        padding: 0 20;
        left: 50%;
      }
    }

    .modal-form {
      padding: 0 20px;
      label {
        margin-top: 10px;
        font-size: 10px;
        font-weight: 100;
      }
      .input-group {
        width: 100%;
        input {
          background-color: #F9F9F9;
          border: 1px solid #ededed;
          padding: 0 5px;
          margin: 0;
          height: 25px;
        }
      }

      .signin-btn {
        width: 100%;
        text-align: center;
        font-size: 12px;
        display: inline-block;
      }
    }
  }

  .modal-success-container {
    width: 370px;
    height: 330px;
    position: relative;
    margin: 10% auto;
    padding: 34px;
    border-radius: 1px;
    background: #fff;

    .image {
      text-align: center;
    }

    .text {
      margin-top: 20px;
      font-size: 12px;
      font-weight: 400;
      color: #898989;
      text-align: center;
    }

    .done-btn {
      width: 200px;
      text-align: center;
      margin: 0 auto;
      margin-top: 20px;
      padding: 10px 20px;
      color: #0CAFEF;
      border: 1px solid #0CAFEF;
      cursor: pointer;
      transition-property: all;
      transition-duration: .4s;
      transition-timing-function: ease;
    }
    .done-btn:hover {
      color: #FFFFFF;
      background-color: #0CAFEF;
      border: 1px solid #0CAFEF;
      cursor: pointer;
      -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
      -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
      box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
      transition-property: all;
      transition-duration: .4s;
      transition-timing-function: ease;
    }
  }
}

.header {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url('/app/assets/images/banner.jpg') no-repeat center center;
  background-position-x: 0;
  width: 100%;
  height: $header-height;
  z-index: -1;
  background-color: #898D92;
  .jumbotron {
    height: $header-height;
    padding-top: 0 !important;
    color: white;
    background-color: transparent !important;

    .top-nav {
      padding-top: 4px;
      height: 62px;

      .logo {
        float: left;
        height: 62px;
        cursor: pointer;

        img {
          height: 100%;
        }
      }

      .nav-links {
        float:right;
        margin-top: 22px;
        font-size: 12px;
        font-weight: 200;

        a .nav-link {
          color: #eee;
          margin: 10px;
          margin-left: 15px;
          margin-right: 15px;
          padding: 10px;
          border: 1px solid transparent;
        }

        a:hover { 
          text-decoration: none;
        }

        a:hover .nav-link {
          font-size: 12px;
          color: #AACEFF;
          border: 1px solid #0CAFEF;
          border-radius: 4px;
          text-decoration: none;
        }
      }
    }

    .main-title {
      font-size: 28px;
      color: #FFFFFF;
      margin-top: 40px;
    }

    .sub-title {
      font-size: 17px;
      color: #FFFFFF;
      font-weight: 100;
      margin-top: 12px; 
    }

  }
}

.header-small {
  width: 100%;
  z-index: -1;
  background-color: #363636;
  .jumbotron {
    padding: 0 !important;
    padding-bottom: 10px !important;
    color: white;
    background-color: #363636 !important;

    .top-nav {
      padding-top: 4px;
      height: 62px;

      .logo {
        float: left;
        height: 62px;
        cursor: pointer;

        img {
          height: 100%;
        }
      }

      .nav-links {
        float:right;
        margin-top: 22px;
        font-size: 12px;
        font-weight: 200;

        a .nav-link {
          color: #eee;
          margin: 10px;
          margin-left: 15px;
          margin-right: 15px;
          padding: 10px;
          border: 1px solid transparent;
        }

        a:hover { 
          text-decoration: none;
        }

        a:hover .nav-link {
          font-size: 12px;
          color: #AACEFF;
          border: 1px solid #0CAFEF;
          border-radius: 4px;
          text-decoration: none;
        }
      }
    }
  }
}

.home-container { 
  padding-top: 5px;
  margin-top: 50px;
}

.interest-search-container {
  border: 1px solid #E2E2E2;
  padding: 20px 30px;
  padding-bottom: 60px;
  -webkit-box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.3);
  box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.3);
  border-radius: 2px;
}

.sample-interest-title {
  font-size: 12px;
  font-weight: 400;
  color: #868686;
  margin-top: 50px;
}

.interest-list {
  margin-top: 10px;
  .interest {
    padding: 10px 25px;
    background-color: #FBFBFB;
    color: #B8B8B8;
    font-size: 12px;
    display: inline-block;
    font-weight: 400;
    margin-right: 20px;
    cursor: pointer;
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease;
  }

  .interest:hover {
    -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
    box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease;
  }
}

.search {
  .search-title {
    font-size: 20px;
    color: #888;
  }

  .search-box {
    margin-top: 18px;
    width: 600px;

    .input-group {
      width: 100%;
    }
  }

  .next-btn {
    width: 135px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    color: #0CAFEF;
    border: 1px solid #0CAFEF;
    cursor: pointer;
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease;
  }
  .next-btn:hover {
    color: #FFFFFF;
    background-color: #0CAFEF;
    border: 1px solid #0CAFEF;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
    box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease;
  }

  .skip-btn {
    color: #E65050;
    border: 1px solid #E65050;
  }

  .skip-btn:hover {
    color: #FFFFFF;
    border: 1px solid #E65050;
    background-color: #E65050;
  }
}

.activity-container {
  padding-top: 5px;

  .activity-header {
    .activity-title {
      font-size: 18px;
      color: #cd3232;
    }
  }

  .activity-questions {
    margin-top: 20px;
    .question-block {
      margin-top: 20px;
      .input-group {
        margin-top: 10px;
        .btn {
          margin-right: 15px;
        }
      }
    }
    
  }

}

.steps-count {
  color: #cdcdcd;
  font-size: 10px;
  font-weight: 200;
  margin-top: 25px;
}


.create-event-container {
  padding-top: 5px;

  .title {
    font-weight: 200;
    font-size: 10px;
    color: #C9C9C9;
  }
}

.create-form-container {
  margin-top: 25px;
  border: 1px solid #EFEFEF;
  padding: 20px 30px;
  padding-bottom: 60px;
  border-radius: 2px;

  .form-block {
    margin-top: 15px;

    .block-title {
      font-weight: 500;
      font-size: 12px;
    }

    .block-input {
      margin-top: 10px;

      .form-column {
        padding-right: 80px;

        .form-label {
          font-weight: 500;
          font-size: 10px;
          color: #9F9E9E;
        }

        .input-group {
          width: 100%;
        }

      }

    }
  }

  .done-btn {
    width: 200px;
    text-align: center;
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    color: #0CAFEF;
    border: 1px solid #0CAFEF;
    cursor: pointer;
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease;
  }
  .done-btn:hover {
    color: #FFFFFF;
    background-color: #0CAFEF;
    border: 1px solid #0CAFEF;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
    -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
    box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
    transition-property: all;
    transition-duration: .4s;
    transition-timing-function: ease;
  }
}


.result-container {
  padding-top: 5px;

  .top-results-info {
    float: none;
    margin: 0 auto;
    width: 410px;
    font-weight: 200;
    font-size: 10px;
    color: #C9C9C9;
  }

  .event-data {
    margin-top: 60px;
    min-height: 300px;

    .title {
      font-weight: 500;
      font-size: 16px;
      color: #868686;
    }

    .data {
      font-size: 12px;
      font-weight: 300;
      margin-top: 5px;
      color: #C8C8C8;

      .value {
        color: #0CAFEF;
        margin-right: 30px;
      }
    }

    .description {
      margin-top: 15px;
      font-size: 12px;
      font-weight: 400;
      color: #767676;
    }

    .join-btn {
      width: 200px;
      text-align: center;
      display: inline-block;
      margin-right: 20px;
      margin-top: 60px;
      padding: 10px 20px;
      color: #0CAFEF;
      border: 1px solid #0CAFEF;
      cursor: pointer;
      transition-property: all;
      transition-duration: .4s;
      transition-timing-function: ease;
    }
    .join-btn:hover {
      color: #FFFFFF;
      background-color: #0CAFEF;
      border: 1px solid #0CAFEF;
      cursor: pointer;
      -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
      -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
      box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
      transition-property: all;
      transition-duration: .4s;
      transition-timing-function: ease;
    }
  }
}

.event-cards {
  float: none;
  margin: 0 auto;
  margin-top: 10px;
  width: 540px;
  position: relative;


  .current-event {

    width: 410px;
    height: 440px;
    background-color: #FFFFFF;
    float: none;
    margin: 0 auto;
    -webkit-box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.4);
    box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.4);

    .image {
      height: 200px;
      background-color:#cdedef;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .content {
      padding: 15px 40px;
      height: 180px;
      overflow-y: hidden;

      .title {
        font-weight: 500;
        font-size: 16px;
        height: 22px;
        overflow-y: hidden;
      }

      .description {
        margin-top: 5px;
        font-weight: 300;
        font-size: 12px;
        height: 96px;
        overflow-y: scroll;
        color: #868686;
      }

      .data {
        font-size: 12px;
        color: #868686;

        .name {
          text-transform: uppercase;
          font-weight: 200;
        }
        .value {
          font-weight: 400;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
    .buttons {
      height: 60px;
      line-height: 60px;
      font-size: 12px;
      text-align: center;
      width: 100%;
      color: #FFFFFF;
      border: 1px solid #0CAFEF;
      display: inline-block;
      cursor: pointer;
      transition-property: all;
      transition-duration: .4s;
      transition-timing-function: ease;

      .accept-btn {
        color: #FFFFFF;
        background-color: #0CAFEF;
        width: 50%;
        height: 100%;
        display: inline-block;
        border: 1px solid #0CAFEF;
      }

      .accept-btn:hover {
        color: #0CAFEF;
        background-color: #FFFFFF;
        transition-property: all;
        transition-duration: .4s;
        transition-timing-function: ease;
      }

      .reject-btn {
        color: #0CAFEF;
        background-color: #FFFFFF;
        width: 50%;
        height: 100%;
        display: inline-block;
        border: 1px solid #0CAFEF;
      }

      .reject-btn:hover {
        color: #FFFFFF;
        background-color: #E65050;
        transition-property: all;
        transition-duration: .4s;
        transition-timing-function: ease;
      }
      .create-btn {
        color: #FFFFFF;
        background-color: #35A061;
        width: 50%;
        height: 100%;
        display: inline-block;
        border: 1px solid #FFFFFF;
      }

      .create-btn:hover {
        color: #FFFFFF;
        background-color: #8BEA97;
        transition-property: all;
        transition-duration: .4s;
        transition-timing-function: ease;
      }
    }
  }

  .next-event {
    width: 540px;
    height: 340px;
    float: none;
    margin: 0 auto;
    background-color: #ddd;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: -1;
    -webkit-box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.4);
    -moz-box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.4);
    box-shadow: -1px 0px 8px -1px rgba(0,0,0,0.4);
  }

}


.teamup-events {
  margin-top: 70px;
  .title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    color: #939393;
  }

  .cards {
    margin-top: 20px;

    .event-card {
      margin-bottom: 30px;
      height: 500px;
      border: 1px solid #F2F2F2;

      .image {
        height: 220px;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }

      }

      .content {
        padding: 15px 10px;

        .event-title {
          font-weight: 400;
          font-size: 14px;
          color: #868686;
        }

        .date {
          color: #0CAFEF;
          font-size: 12px;
          font-weight: 500;
        }

        .section-header {
          margin-top: 20px;
          font-size: 10px;
          font-weight: 400;
          color: #ADADAD;
        }

        .attendees-data {
          margin-top: 15px;

          .attendee-icon {
            height: 30px;
            width: 30px;
            display: inline-block;
            margin-right: 5px;
            border-radius: 50%;
            color: #cdcdcd;
            background-color: #ddd;

            img {
              height: 100%;
              border-radius: 50%;
              border: 1px solid #cdcdcd;
              width: 100%;
            }

          }
        }

        .location-data{ 
          margin-top: 15px;
          font-size: 12px;
          font-weight: 400;
          color: #ADADAD;
        }

        .join-btn {
          width: 200px;
          text-align: center;
          display: inline-block;
          margin-right: 20px;
          margin-top: 30px;
          padding: 10px 20px;
          color: #0CAFEF;
          border: 1px solid #0CAFEF;
          font-size: 12px;
          cursor: pointer;
          transition-property: all;
          transition-duration: .4s;
          transition-timing-function: ease;
        }
        .join-btn:hover {
          color: #FFFFFF;
          background-color: #0CAFEF;
          border: 1px solid #0CAFEF;
          cursor: pointer;
          -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
          -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
          box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
          transition-property: all;
          transition-duration: .4s;
          transition-timing-function: ease;
        }
      }
    }

    .event-card:hover {
      -webkit-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
      -moz-box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
      box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.26);
      transition-property: all;
      transition-duration: .2s;
      transition-timing-function: ease;
    }
  }
}
