<div class="home-container container">
	<div class="step-count">
		<p>STEP 1 OF 4</p>
	</div>
	<div class="interest-search-container">
		<div class="search">
			<div class="search-title">
				<p>I am interested in?</p>
			</div>
			<div class="search-box">
				<div class="input-group input-group-lg">
				  <input type="text" class="form-control" placeholder="Start typing..." [(ngModel)]="searchQuery" (keyup.enter)="getMachingInterest()">
				</div>
			</div>
			<div class="next-btn">NEXT</div>
		</div>
	</div>
</div>