<div class="home-container container">
	<div class="interest-search-container">
		<div class="search">
			<div class="search-title">
				<p>What are you interested in?</p>
			</div>
			<div class="search-box">
				<div class="input-group input-group-lg">
				  <input type="text" class="form-control" placeholder="start typing..." [(ngModel)]="searchQuery" (keyup.enter)="getMachingInterest()">
				</div>
			</div>
			<div (click)="getMachingInterest()" class="next-btn">NEXT</div>
		</div>
		<div class="sample-interest-title">Or choose from these interests:</div>
		<div class="interest-list">
			<div class="interest" *ngFor="let interest of interests" (click)="getMachingInterest(interest.name)">{{interest.name}}</div>
		</div>
	</div>
	<div class="teamup-events">
		<div class="title" *ngIf="trendingEvents.length > 0">Trending Teamups</div>
		<div class="row cards">
			<div class="col-xs-4" *ngFor="let trend of trendingEvents;let i=index">
				<div class="event-card">
					<div class="image"><img src="app/assets/images/event-image.png" /></div>
					<div class="content">
						<div class="event-title">{{trend.name}}</div>
						<div class="date">{{trend.event_start_date}}</div>
						<div class="section-header">ATTENDEES</div>
						<div class="attendees-data">
							<div class="attendee-icon" *ngFor="let member of trend.approved_members">
								<img [src]="member.profile_pic || 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=200'"/>
							</div>
						</div>
						<div class="section-header">LOCATION</div>
						<div class="location-data">{{trend.location}}</div>
						<div class="join-btn" (click)="userService.isAuthorized()?joinEvent(trend,i):(userService.showLoginModal = true)">JOIN NOW</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="teamup-events" *ngIf="userService.isAuthorized() && userJoinedEvents.length > 0">
		<div class="title">Activities You Have Joined</div>
		<div class="row cards">
			<div class="col-xs-4" *ngFor="let trend of userJoinedEvents">
				<div class="event-card">
					<div class="image"><img src="app/assets/images/event-image.png" /></div>
					<div class="content">
						<div class="event-title">{{trend.name}}</div>
						<div class="date">{{trend.event_start_date}}</div>
						<div class="section-header">ATTENDEES</div>
						<div class="attendees-data">
							<div class="attendee-icon" *ngFor="let member of trend.approved_members">
								<img [src]="member.profile_pic || 'https://lh3.googleusercontent.com/-XdUIqdMkCWA/AAAAAAAAAAI/AAAAAAAAAAA/4252rscbv5M/photo.jpg?sz=200'"/>
							</div>
						</div>
						<div class="section-header">LOCATION</div>
						<div class="location-data">{{trend.location}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>