<div class="home-container container">
	<div class="search">
		<div class="search-title">
			<p>What are you interested in?</p>
		</div>
		<div class="search-box">
			<div class="input-group input-group-lg">
			  <input type="text" class="form-control" placeholder="start typing...">
			</div>
			<div class="search-suggestions">
				<div class="suggestion">Suggestion 1</div>
				<div class="suggestion">Suggestion 2</div>
				<div class="suggestion">Suggestion 3</div>
				<div class="suggestion">Suggestion 4</div>
				<div class="suggestion">Suggestion 5</div>
			</div>
		</div>
	</div>
</div>