<div class="activity-container container">
	<div class="steps-count">
		<p>STEP 1 OF {{selectedInterest.questions.length || 'X'}}</p>
	</div>
	<div class="interest-search-container">
		<div class="activity-header">
			<div class="activity-title">
				<p>{{selectedInterest.title}}</p>
			</div>
		</div>
		<div class="activity-questions search">
			<form action="">
				<div class="question-block" *ngFor="let ques of selectedInterest.questions;let i=index">
				<div *ngIf="i===currentCount">
					<label class="question search-title">{{ques.title}}</label>
					<div class="search-box">
						<div class="input-group input-group-lg" *ngIf="ques.type==='text'">
						  <input type="text" class="form-control" placeholder="" [(ngModel)]="response.questions[ques.id]">
						</div>
					</div>
					
					<div class="input-group input-group-lg" *ngIf="ques.type==='boolean'">
						<label class="btn btn-default">
			              <input type="radio" name="{{ques.id}}" (click)="(response.questions[ques.id]===true)?(response.questions[ques.id]=null):(response.questions[ques.id]=true)" [checked]="response.questions[ques.id]" value="yes"/> YES
			            </label> 
			            <label class="btn btn-default">
			              <input type="radio" name="{{ques.id}}" (click)="(response.questions[ques.id]===false)?(response.questions[ques.id]=null):(response.questions[ques.id]=false)" [checked]="!response.questions[ques.id]" value="no"/> NO
			            </label>
			        </div>
			    </div>
			    </div>
			    <div type="button" class="next-btn" (click)="nextQues()">Next</div>
			    <div type="button" class="next-btn skip-btn" (click)="nextQues()">Skip</div>
			</form>
		</div>
	</div>
</div>