<div class="activity-container container">
	<div class="activity-header">
		<div class="activity-title">
			<p>Activity Name</p>
		</div>
	</div>
	<div class="activity-questions">
		<form action="">
			<label>Location:</label>
			<div class="input-group input-group-lg">
			  <input type="text" class="form-control" placeholder="">
			</div>
			
			<div class="input-group input-group-lg">
				<label>Are you Male? </label>
				<label class="btn btn-default">
	              <input type="radio" id="male" name="male" value="1" /> YES
	            </label> 
	            <label class="btn btn-default">
	              <input type="radio" id="male" name="male" value="0" /> NO
	            </label>
	        </div>
	        <button type="button" class="btn btn-default">Done!</button>
		</form>
	</div>
</div>